/* Właściwości 
Header
Font: Roboto (you will need to download and install this font if you don’t already have it)
Dark background color (header, hero section and footer): #1F2937
Logo text:
Font size: 24px
Color: #F9FAF8
--------
Hero section main text (“This website is awesome”):
Font size: 48px
Color: #F9FAF8
Weight: 900
-------------
Hero secondary text (“This website has some subtext…”) and header links:
Font size: 18px
Color: #E5E7EB
Button and “Call to action” background color: #3882F6
Information heading:
Font size: 36px
Color: #1F2937
Weight: 900
-----
Quote:
Background color: #E5E7EB
Font size: 36px
Color: #1F2937
Weight: 300
Font style: italic
*/

/* Website */

body {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway';
    margin: auto;

}

/* Navbar section*/

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    }
.nav {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: #1F2937;
    }
a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 18px;
    }
.buttons {
    padding: 0px;
    margin: 0px;
    align-content: flex-end;
    }
.buttons li {
    display: inline-block;
    margin-right: 10px;
    }

/* Hero section*/

.hero {
    background-color: #1F2937;
    color: white;
    display: flex;
}
.text1 {
    font-size: 48px;
}

.text2 {
    font-size: 18px;
}

